SUBSCRIPTION_SERVICE_URL=http://localhost:8000
SUBSCRIPTION_TIMEOUT_SECONDS=10
REVALIDATE_SUBSCRIPTION=false

VIACEP_BASE_URL=https://viacep.com.br/ws
BRASILAPI_CEP_BASE_URL=https://brasilapi.com.br/api/cep/v1
VIACEP_TIMEOUT_SECONDS=10
